
<div class="section">
  <div class="w-container">

    <ul class="posts">

      {{#each post in controller}}
        {{post-entry store=store post=post viewingUser=loggedInUser}}
      {{/each}}

    </ul>
  </div>
</div>

